body {
  min-height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  font-family: arial,sans-serif;
}
header {
  width: 100%;
  padding: 15px 0;
  height: 45px;
}
button,button:active,.button{
  border:none;
  background-color: #f0f0f0;
  height:40px;
  color: #777;
  font-weight: 600;
}
button:active,.button:active{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  color:#222;
}
a {
  text-decoration: none;
}
header > div{
  float:right;
  color:#333;
  padding: 0 30px;
  height:30px;
}
header > div a{
  float: none;
  margin-left: 15px;
  color: #333;
}
.content{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.signup {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
    color:#fff;
    height:30px;
}
.signup:hover{
  text-decoration: none;
}
div.img{
  display: inline-block;
  vertical-align: middle;
}
.icon{
  background: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png) no-repeat;
  background-size: 528px 68px;
}
.matrix{
  background-position: -132px -38px;
  height: 30px;
  width: 30px;

}
.button{
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#logo{
  padding-top: 150px;
  height: 150px;
}
#logo div.img{
  width:272px;
  height: 92px;
  background: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png) no-repeat;
  background-size: contain;
}
#search-area .search-bar{
  max-width:600px;
  height:40px;
  margin:auto;
  border:1px solid #b9b9b9;
}
.search-bar.focus{
  border:1px solid #4d90fe;
}
.search-bar input {
  border: none;
}
.search-bar a{
  float:right;
}
.search-bar a div{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) center no-repeat;
  background-size: 24px 24px;
  display: inline-block;
  height: 40px;
  width: 23px;
  vertical-align: middle;
}
.search-buttons {
  margin-top:30px;
}
.search-buttons button{
  margin:0 5px;
}