body,header{
  min-height:100%;
  margin: 0;
  padding: 0;
}
header div{
  float:right;
}
header div *{
  float:none;
}
.content{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.signup {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}
.matrix{
  background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  background-size: 528px 68px;
  background-position: -132px -38px;
}